@using CompanyEmployeeManager.Enums
@model EmployeeDto
@{
	ViewData["Title"] = "Deleting employee";
}


<h2>Deleting employee</h2>

@using (Html.BeginForm( new{ EmployeeId = Model.Id}))
{
	<div>

		<p>Are you sure you want to delete employee <b>@Model.Name @Model.Surname</b>?</p>
		
		<div class="form-group">
			<a href="@Url.Action("Index", "")" class="btn btn-secondary">Cancel</a>

			<input type="submit" class="btn btn-primary" value="Delete"/>
		</div>
	</div>
}


